<section class="card">
  <!-- The contents of this card links to the board page using the UserPost ID -->
  <a href="board/{{id}}">
    <!-- The card contains the post name and submission date as the card header -->
    <header>
      <h2>{{title}}</h2>{{createdAt}}</header>
    <p>{{content}}</p>
  </a>
</section>