<div>
    <h2>My posts:</h2>
    {{#each allPosts as |blogpost|}}
    {{> blogpost-details}}
    <div class="post-options">
        <button class="edit-post" value="{{blogpost.id}}" form>Edit</button>
        <button class="delete-post" value="{{blogpost.id}}">Delete</button>
        {{!-- <form action="" class="edit-fields">
            <input type="text" id="title" name="title" value="Title..."><br><br>
            <input type="text" id="content" name="content" value="Content..."><br><br>
        </form> --}}
    </div>
    {{/each}}
    <h2>Add post:</h2>
    
    <div>
        <form id="create-post" autocomplete="off">
            <input type="text" id="title" name="title" value="Title..."><br><br>
            <input type="text" id="content" name="content" value="Content..."><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script src="./js/dashboard.js"></script>