body {
    background-color: grey;
}

* {
    resize: none;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    max-width: 600px;
}

.card a {
    text-decoration: none;
}

.card button {
    position: absolute;
}

.blog {
    color: black;
}

.comments {
    border-left: 2px solid rgb(0,0,0);
    margin-left: 10px;
    padding: 10px;
}

.content-header {
    background-color: azure;
}

.content-header * {
    display: inline;
    white-space: nowrap;
}