:root {
    --content-area-size: 650px;
    --comment-area-size: 500px;

    --primary-cobalt: hsl(234, 85%, 45%);
    --primary-red: hsl(0,100%,67%);

    --gradient-slate: hsl(252, 100%, 67%);
    --gradient-royal: hsl(241, 81%, 54%);
    --gradient-violet: hsla(256, 72%, 46%, 1);
    --gradient-persian: hsla(241, 72%, 46%, 0);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-paleblue: hsl(221, 100%, 96%);
    --neutral-lavender: hsl(241, 100%, 89%);
    --neutral-darkgrayblue: hsl(224, 30%, 27%);

    --accent-grayblue: hsla(224, 30%, 50%, 1);
}

* {
    resize: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--neutral-darkgrayblue);
    color: var(--neutral-lavender);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--neutral-lavender);
}

header {
    background-color: var(--accent-grayblue);
    padding: 1rem;
}

nav {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-posts {
    min-width: var(--content-area-size);
}

.add-post {
    min-width: var(--content-area-size);
}

.btn {
    background-color: var(--accent-grayblue); /* gray blue */
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete-post {
    background-color: var(--primary-red);
    max-width: 80px;
    align-self: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid var(--accent-grayblue);
    border-radius: 4px;
    width: var(--content-area-size);
}

.card form {
    padding: 8px;
}

.card a {
    text-decoration: none;
}
.card a * {
    padding: 8px;
}

.blog {
    /* color: black; */
}

.comments {
    border-left: 2px solid var(--accent-grayblue);
    margin-left: 10px;
    padding: 10px;
}

.comment {
    /* max-width: var(--content-area-size); */
    width: var(--comment-area-size);
    border-bottom: 2px dashed var(--accent-grayblue);
    margin: 4px;
}

.add-comment {
    margin-left: 10px;
    padding: 10px;
}

.content-header {
    background-color: var(--accent-grayblue);
}

.content-header * {
    display: inline;
    white-space: nowrap;
}